<!-- app/views/dashboard/eliminar_usuario.html.erb -->

<div class="container mt-5">
  <h1 class="text-center mb-4">Eliminar Usuario</h1>

  <div class="row justify-content-center">
    <div class="col-md-8"> <!-- Ajusta el tamaño de la columna según tus necesidades -->
      <div class="card">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">Lista de Usuarios Habilitados</h2>

          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% @usuarios.each do |usuario| %>
                <tr>
                  <td><%= usuario.nombre %></td>
                  <td><%= usuario.apellido %></td>
                  <td><%= usuario.email %></td>
                  <td>
                    <%= form_tag(eliminar_usuario_path(usuario), method: :patch, class: 'user-form') do %>
                      <%= submit_tag 'Eliminar', class: 'btn btn-danger btn-block' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>