<!-- app/views/tu_controlador/cargar_paseador.html.erb -->



<% if @errores.present? %>
  <div class="alert alert-danger">
    <p>Hubo errores al guardar el cuidador:</p>
    <ul>
      <% @errores.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="title" style="font-size: 28px; margin-bottom: 20px; text-align: center;">Cargar Cuidador</div>

  <%= form_with(url: '/guardar_cuidador', method: 'post', class: 'card paseador-form', html: { style: 'max-width: 500px; margin: 0 auto;' }) do |form| %>
    <div class="card-body">
      <div class="field">
        <%= form.label :nombre %>
        <%= form.text_field :nombre, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :apellido %>
        <%= form.text_field :apellido, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :dni %>
        <%= form.text_field :dni, class: 'form-control', pattern: '\d*' %>
    </div>

    <div class="field">
    <%= form.label :zona %>
    <%= form.select :zona, options_for_select(['Plaza San Martín', 'Plaza Moreno', 'Plaza Azcuénaga', 'Plaza Belgrano', 'Parque Saavedra', 'Parque Castelli', 'Plaza Malvinas Argentinas', 'Plaza Rivadavia', 'Parque Vucetich', 'Plaza Rocha', 'Plaza Italia', 'Plaza Matheu', 'Plaza España', 'Plaza Sarmiento','Plaza Paso']) , {}, { class: 'form-control' } %>
  </div>


      <div class="field">
        <%= form.label :mail %>
        <%= form.email_field :mail, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :horarios %>
        <%= form.text_area :horarios, class: 'form-control' %>
      </div>
    </div>

    <%= form.hidden_field :habilitado, value: 0 %>

    <div class="card-footer" style="text-align: center;">
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>