<h2>Mis datos</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <!-- Campos adicionales -->
  <div class="mb-3">
    <%= f.label :nombre, class: "form-label" %>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :apellido, class: "form-label" %>
    <%= f.text_field :apellido, class: "form-control" %>
  </div>


  <div class="mb-3">
    <%= f.label :telefono, class: "form-label" %>
    <%= f.text_field :telefono, class: "form-control" %>
  </div>


  <div class="mb-3">
  <%= f.label :fecha_nacimiento, 'Fecha de Nacimiento', class: 'form-label' %>
  <%= f.date_field :fecha_nacimiento, class: 'form-control', required: true, readonly: true %>
  <small class="form-text text-muted" id="edadMensaje"></small>
</div>

<div class="field">
  <%= f.label :dni %><br />
  <%= f.text_field :dni, class: 'form-control', readonly: true %>
</div>

  <div class="field">
  <br />
  <%= f.label :rol_id %><br />
  <%= f.text_field :rol_id, class: "form-control", readonly: true, value: (f.object.rol_id == 1 ? 'admin' : 'user') %>
</div>



  <!-- Campos de contraseña -->


<div class="mb-3"><br />
  <%= f.label :current_password, "Contraseña", class: "form-label" %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
</div>

  <div class="text-center">
    <%= f.submit "Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>



