<!-- app/views/perros/mis_perros.html.erb -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Mis Perros</h2>

  <% if @mis_perros.present? %>
    <ul class="list-group">
      <% @mis_perros.each do |perro| %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1"><strong>Nombre:</strong> <%= perro.nombre %></h5>
              <p class="mb-1"><strong>Fecha de nacimiento:</strong> <%= perro.fecha_nacimiento %></p>
              <p class="mb-1"><strong>Sexo:</strong> <%= perro.sexo %></p>
              <p class="mb-1"><strong>Raza:</strong> <%= perro.raza.nombre %></p>
            </div>
            <div>
              <button class="btn btn-primary" onclick="toggleEditar('<%= perro.id %>')">Modificar</button>
            </div>
          </div>

          <!-- Campos de edición (inicialmente ocultos) -->
          <div id="editar_<%= perro.id %>" class="editar-campos" style="display: none;">
            <%= form_with(model: perro, url: perro_path(perro), method: :put, html: { class: "editar-form" }) do |f| %>
              <div class="card">
                <div class="card-body p-4">
                  <h2 class="text-center mb-4">Editar Perro</h2>

                  <div class="form-group">
                    <%= f.label :nombre, class: "form-label" %>
                    <%= f.text_field :nombre, class: "form-control" %>

                    <!-- Muestra los errores asociados a nombre -->
                    <% if perro.errors[:nombre].any? %>
                      <div class="alert alert-danger">
                        <%= perro.errors[:nombre].join('<br>') %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group">
                    <%= f.label :fecha_nacimiento, class: "form-label" %>
                    <%= f.date_field :fecha_nacimiento, class: "form-control", max: Date.today.strftime('%Y-%m-%d') %>
                  </div>

                  <div class="form-group">
                    <%= f.label :sexo, class: "form-label" %>
                    <%= f.select :sexo, ['Macho', 'Hembra'], {}, class: 'form-control' %>

                    <!-- Muestra los errores asociados a sexo -->
                    <% if perro.errors[:sexo].any? %>
                      <div class="alert alert-danger">
                        <%= perro.errors[:sexo].join('<br>') %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group">
                    <%= f.label :raza_id, "Raza", class: "form-label" %>
                    <%= f.collection_select :raza_id, @razas, :id, :nombre, { prompt: "Seleccione una raza" }, class: "form-control" %>

                    <!-- Muestra los errores asociados a raza_id -->
                    <% if perro.errors[:raza_id].any? %>
                      <div class="alert alert-danger">
                        <%= perro.errors[:raza_id].join('<br>') %>
                      </div>
                    <% end %>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="mt-4 text-center">No tienes perros registrados.</p>
  <% end %>
</div>

<!-- Debería ir al final del archivo justo antes de cerrar el body -->
<script>
  function toggleEditar(perroId) {
    var campoEdicion = document.getElementById('editar_' + perroId);
    
    // Alterna entre mostrar y ocultar el campo de edición con animación de desvanecimiento
    if (campoEdicion.style.display === 'none') {
      campoEdicion.style.display = 'block';
      campoEdicion.classList.add('fade-in');
    } else {
      campoEdicion.style.display = 'none';
      campoEdicion.classList.remove('fade-in');
    }
  }
</script>
