<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">Registrar un nuevo perro</h2>

          <%= form_for @perro, html: { class: "form" } do |f| %>
            <div class="form-group">
              <%= f.label :nombre, class: "form-label" %>
              <%= f.text_field :nombre, class: "form-control" %>

              <!-- Muestra los errores asociados a nombre -->
              <% if @perro.errors[:nombre].any? %>
                <div class="alert alert-danger">
                  <%= @perro.errors[:nombre].join('<br>') %>
                </div>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :fecha_nacimiento, class: "form-label" %>
              <%= f.date_field :fecha_nacimiento, class: "form-control", max: Date.today.strftime('%Y-%m-%d') %>
            </div>

            <div class="form-group">
              <%= f.label :sexo, class: "form-label" %>
              <%= f.select :sexo, ["Macho", "Hembra"], { prompt: "Seleccionar Sexo" }, { class: "form-control", required: true } %>
              <% if @perro.errors[:sexo].any? %>
                <div class="alert alert-danger">
                  <%= @perro.errors[:sexo].join('<br>') %>
                </div>
              <% end %>
            </div>

            <%= f.label :raza_id, "Raza" %>
<%= f.collection_select :raza_id, Raza.all, :id, :nombre, { prompt: "Seleccione una raza" }, class: "form-control" %>


            <div class="form-group">
              <%= f.label :dueño_dni, "DNI del dueño", class: "form-label" %>
              <%= f.text_field :dueño_dni, class: "form-control" %>

              <!-- Muestra los errores asociados a dueño_dni -->
              <% if @perro.errors[:dueño_dni].any? %>
                <div class="alert alert-danger">
                  <%= @perro.errors[:dueño_dni].join('<br>') %>
                </div>
              <% end %>
            </div>

            <div class="text-center">
              <%= f.submit "Registrar Perro", class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>