<!-- app/views/perros_perdidos/contactar_propietario.html.erb -->
<div class="container text-center mt-5">
  <h1 class="mb-4">Contactar al Dueño</h1>

  <%= form_with(url: enviar_correo_path, method: :post, class: 'contacto-form') do |form| %>
    <div class="form-group">
      <%= form.label :correo, "Tu correo de contacto" %>
      <%= form.email_field :correo, class: 'form-control', required: true %>
    </div>

    <%= form.hidden_field :perro_id, value: @perro_perdido.id %>

    <div class="form-group">
      <%= form.submit "Enviar Correo", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
