<!-- app/views/perros_perdidos/new.html.erb -->
<div class="container mt-5">
  <h1 class="text-center">Crear Publicación de Perro Perdido</h1>

  <%= form_with(model: @perro_perdido, url: perros_perdidos_path, local: true, html: { class: 'my-4' }) do |form| %>
    <% if @perro_perdido.errors.any? %>
      <div id="error_explanation" class="text-center">
        <h2><%= pluralize(@perro_perdido.errors.count, "error") %> prohibited this publication from being saved:</h2>

        <ul>
          <% @perro_perdido.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @user_perros.present? %>
      <div class="mb-3">
        <%= form.label :user_perro, "Seleccionar Tu Perro", class: 'form-label' %>
        <%= form.select :user_perro, options_for_select(@user_perros.map { |perro| [perro.nombre, perro.id] }), { prompt: "Seleccionar Tu Perro" }, { class: "form-control", id: "user_perro", autocomplete: "off" } %>
      </div>
    <% end %>

    <!-- Campos ocultos para almacenar valores autocompletados -->
    <%= form.hidden_field :nombre, id: 'hidden_nombre_perro' %>
    <%= form.hidden_field :raza_id, id: 'hidden_raza_perro' %>
    <%= form.hidden_field :sexo, id: 'hidden_sexo_perro' %>
    <%= form.hidden_field :mail, id: 'hidden_mail_contacto' %>
    <%= form.hidden_field :edad, id: 'hidden_edad_perro' %>

    <div class="mb-3">
      <%= form.label :nombre, class: 'form-label' %>
      <%= form.text_field :nombre, class: 'form-control', placeholder: 'Nombre del perro', required: true, id: 'nombre_perro' %>
    </div>

    <div class="form-group">
      <%= form.label :sexo, class: "form-label" %>
      <%= form.select :sexo, ["Macho", "Hembra"], { prompt: "Seleccionar Sexo" }, { class: "form-control", id: "sexo_perro" } %>
    </div>

    <div class="mb-3">
      <%= form.label :raza_id, "Raza" %>
      <%= form.collection_select :raza_id, Raza.all, :id, :nombre, { prompt: "Seleccione una raza" }, class: "form-control", id: "raza_perro" %>
    </div>

    <div class="mb-3">
      <%= form.label :comportamiento, class: 'form-label' %>
      <%= form.text_area :comportamiento, class: 'form-control', placeholder: 'Comportamiento del perro', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :lugar, "Lugar donde se perdió el perro", class: 'form-label' %>
      <%= form.text_field :lugar, class: 'form-control', placeholder: 'Lugar donde se perdió el perro', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :fecha, "Ultima vez que se vió", class: 'form-label' %>
      <%= form.date_field :fecha, class: 'form-control', required: true, max: Date.today.strftime('%Y-%m-%d') %>
    </div>

    <div class="mb-3">
      <%= form.label :foto, "Imagen", class: 'form-label' %>
      <%= form.file_field :foto, class: 'form-control', accept: 'image/*', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :edad, "Edad (en meses)", class: 'form-label' %>
      <%= form.number_field :edad, class: 'form-control', placeholder: 'Edad del perro', required: true, min: 1, id: 'edad_perro' %>
    </div>

    <div class="mb-3">
      <%= form.label :mail, "Correo de contacto", class: 'form-label' %>
      <%= form.email_field :mail, class: 'form-control', placeholder: 'Correo de contacto', required: true, id: 'mail_contacto' %>
    </div>

    <%= form.hidden_field :tipo, value: 1 %>

    <div class="text-center">
      <%= form.submit "Publicar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<!-- app/views/perros_perdidos/new.html.erb -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var perroSelect = document.getElementById('user_perro');
    var nombrePerroInput = document.getElementById('nombre_perro');
    var razaPerroInput = document.getElementById('raza_perro');
    var sexoPerroSelect = document.getElementById('sexo_perro');
    var edadPerroInput = document.getElementById('edad_perro');
    var perroDetails = <%= raw @perro_details.to_json %>;
    var mailContactoInput = document.getElementById('mail_contacto');
    var hiddenMailContactoInput = document.getElementById('hidden_mail_contacto');
    var hiddenEdadPerroInput = document.getElementById('hidden_edad_perro');

    if (perroSelect && nombrePerroInput && razaPerroInput && sexoPerroSelect && edadPerroInput && mailContactoInput && hiddenMailContactoInput && hiddenEdadPerroInput) {
      perroSelect.addEventListener('change', function() {
        var selectedPerroId = perroSelect.value;

        if (selectedPerroId === '') {
          // Si se selecciona "Seleccionar Perro", desbloquear y limpiar los campos
          nombrePerroInput.disabled = false;
          razaPerroInput.disabled = false;
          sexoPerroSelect.disabled = false;
          edadPerroInput.disabled = false;
          mailContactoInput.disabled = false;

          nombrePerroInput.value = '';
          razaPerroInput.value = '';
          sexoPerroSelect.value = '';
          edadPerroInput.value = '';
          mailContactoInput.value = '';
        } else {
          // Llenar los campos con la información del perro seleccionado
          var details = perroDetails[selectedPerroId];

          if (details) {
            // Establecer valores en campos ocultos
            hiddenMailContactoInput.value = '<%= current_user.email %>';
            hiddenEdadPerroInput.value = details.edad;
            document.getElementById('hidden_nombre_perro').value = details.nombre;
            document.getElementById('hidden_raza_perro').value = details.raza_id;
            document.getElementById('hidden_sexo_perro').value = details.sexo;

            // Deshabilitar los campos originales
            nombrePerroInput.disabled = true;
            razaPerroInput.disabled = true;
            sexoPerroSelect.disabled = true;
            edadPerroInput.disabled = true;
            mailContactoInput.disabled = true;

            // Establecer valores en campos visibles
            nombrePerroInput.value = details.nombre;
            razaPerroInput.value = details.raza_id;
            sexoPerroSelect.value = details.sexo;
            edadPerroInput.value = details.edad;
            mailContactoInput.value = '<%= current_user.email %>';


          }
        }
      });
    }
  });
</script>
