<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-7"> <!-- Ajusté el ancho a col-md-8 y col-lg-6 -->
      <div class="card">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">Buscar Usuarios por DNI</h2>

          <%= form_tag(user_search_search_path, method: :get, class: 'mb-3') do %>
            <div class="input-group">
              <%= text_field_tag 'dni', params[:dni], class: 'form-control', placeholder: 'Ingresar DNI' %>
              <div class="input-group-append">
                <%= submit_tag 'Buscar', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>

          <% if @users.present? %>
            <h3 class="mt-4">Resultados de la búsqueda:</h3>
            <ul class="list-group">
            <% @users.each do |user| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>DNI: <%= user.dni %></div>
                <%= "#{user.nombre} #{user.apellido}" %>                
                <div>
                  <div class="btn-group">
                  <%= link_to 'Perros', user_perros_path(user), class: 'btn btn-primary' %>
                  </div>
                </div>
              </li>
            <% end %>
            
            </ul>
          <% else %>
            <p class="mt-4 text-center">No se encontraron usuarios con ese DNI.</p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
