<!DOCTYPE html>
<html>
<head>
    <!-- Estilos y otros encabezados aquí -->
    <style>
    /* Agrega estilos según sea necesario */
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        width: 200px; /* Ajusta el tamaño según sea necesario */
    }

    .button-container {
        margin-top: 10px;
    }
    </style>
</head>
<body>
    <h1>Confirmados</h1>

    <% if @turnos_confirmados.present? %>
        <div class="card-container">
        <% @turnos_confirmados.order(fecha: :asc).each do |turno| %>
          
        
            
          <div class="card">
              <div class="card-content">
                  <h5 class="card-title">
                      <strong>Nombre:</strong> <%= turno.perro.nombre %>
                  </h5>
                  <p>
                      <strong>Fecha :</strong> <%= turno.fecha.strftime('%d-%m-%Y') %>
                  </p>
                  <p>
                      <strong>Hora :</strong> <%= turno.hora.strftime('%H:%M %p') %>
                  </p>
                  <p>
                      <strong>Franja :</strong> <%= turno.franja %>
                  </p>
            
              </div>
              <% if turno.mostrar_boton_cancelar? %> <!-- Agrega esta verificación -->
              <div class="button-container">
                  <%= form_with(model: turno, url: cancelar_turno_historial_turno_path(turno), method: :put) do |form| %>
                      <%= form.submit 'Cancelar Turno', class: 'btn btn-danger' %>
             <% end %>

                
              </div>
              <% end %>
          </div>
        <% end %>
        </div>
    <% else %>
        <p>No hay turnos confirmados.</p>
    <% end %>
</body>
</html>
