<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body p-4">
          <h1 class="text-center mb-4">Publicar un Perro</h1>

          <% if @mis_perros_cruza.present? %>
            <%= form_with(url: publicar_cruza_index_path, method: :post, local: true, class: "user-form") do |form| %>
              <div class="mb-3">
                <%= form.label :perro_id, 'Selecciona un perro:', class: "form-label" %>
                <%= select_tag 'perro_id', options_from_collection_for_select(@mis_perros_cruza, 'id', 'nombre'), { prompt: 'Selecciona un perro', class: "form-control" } %>
              </div>
              <div class="text-center">
              <%= form.submit 'Publicar Perro para Cruza', id: 'publicar-button', class: "btn btn-primary btn-block" %>
              </div>
              <p>Advertencia: Usar esta plataforma implica que tu perro también sea visto por los demás</p>
            <% end %>
          <% end %>

          
              
        <% if @mis_perros_cruzados.present? %>
        <h1 class="text-center mb-4">Eliminar un Perro</h1>
            <%= link_to 'Eliminar Perro para Cruza', eliminar_perro_path, class: 'btn btn-danger btn-block' %>
        <% end %>

        


        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the select element
    var perroSelect = document.getElementById('perro_id');

    // Get the submit button
    var publicarButton = document.getElementById('publicar-button');

    // Disable the button initially if no option is selected
    publicarButton.disabled = !perroSelect.value;

    // Add an event listener to the select element
    perroSelect.addEventListener('change', function() {
      // Enable/disable the button based on the selection
      publicarButton.disabled = !perroSelect.value;
    });
  });
</script>
