    <!DOCTYPE html>
<html>
  <head>

    <!-- Incluye Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Incluye Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<!-- Incluye Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Ohmydog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Script para mostrar la alerta en una ventana emergente del navegador -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const alertMessage = "<%= j(alert) %>"; // j() es un método de Rails para escapar el contenido JS
        const noticeMessage = "<%= j(notice) %>"; // j() es un método de Rails para escapar el contenido JS
  
        // Mostrar la alerta en una ventana emergente del navegador
        if (alertMessage) {
          alert(alertMessage);
        } else if (noticeMessage) {
          alert(noticeMessage);
        }
      });
    </script>
  
    <!-- Resto de tu contenido HTML -->
  </body>
  

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
           <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">  

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i><img src="<%= asset_path('logo.png') %>"style="max-width: 100px; max-height: 100px;"></i>
                </div>
                <div class="sidebar-brand-text mx-2">Oh My Dog </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0"> 

            <!-- Nav Item - Usuarios Collapse Menu -->
           <% if user_signed_in? && current_user.rol_id == 1 %>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesUsuarios" aria-expanded="true" aria-controls="collapsePagesUsuarios">
                    <img src="<%= asset_path('usuarios.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                    <span>Gestión de Usuarios</span>
                </a>
                <div id="collapsePagesUsuarios" class="collapse" aria-labelledby="headingPagesUsuarios" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/users/sign_up">Registrar Usuario</a>
                        <a class="collapse-item" href="/dashboard/eliminar_usuario.html">Eliminar Usuario</a>
                        <a class="collapse-item" href="/perros/registrar_perro">Cargar Perro</a>
                        <a class="collapse-item" href="/users/search">Buscar Usuario</a>
                    </div>
                </div>
            </li>
            <% end %>

            <% if user_signed_in? && current_user.rol_id == 1 %>
            <li class="nav-item">

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesTurnos" aria-expanded="true" aria-controls="collapsePagesTurnos">
                    <img src="<%= asset_path('turno.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                    <span>Gestión de Turnos</span>
                </a>
                <div id="collapsePagesTurnos" class="collapse" aria-labelledby="headingPagesTurnos" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/historial_turnos/pendientes.html">Turnos pendientes</a>
                        <a class="collapse-item" href="/historial_turnos/confirmados.html">Turnos confirmados</a> 
                        <a class="collapse-item" href="/historial_turnos/hoy.html">Turnos de hoy</a>                    
                   
                    </div>
                </div>         
                </li>
        <% end %>
        

        <% if user_signed_in? %>
            <li class="nav-item">
            <a class="nav-link" href="<%= new_historial_turno_path %>" style="display: flex; align-items: center;"> 
            <img src="<%= asset_path('turno.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
            <span>Solicitar Turno</span>
             </a>     

        <% end %>


        <li class="nav-item">
        <%= link_to perros_perdidos_path, class: 'nav-link', style: 'display: flex; align-items: center;' do %>
            <img src="<%= asset_path('perro.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
            <span>Perros Perdidos</span>
        <% end %>
        </li>

        <li class="nav-item">
        <%= link_to perros_encontrados_path, class: 'nav-link', style: 'display: flex; align-items: center;' do %>
            <img src="<%= asset_path('perro.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
            <span>Perros Encontrados</span>
        <% end %>
        </li>


        <li class="nav-item">
            <%= link_to campaigns_path, class: 'nav-link', style: 'display: flex; align-items: center;', disabled: true do %>
            <img src="<%= asset_path('donacion.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
            <span>Campañas de Donación</span>
            <% end %>
                </li>


            
           <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard/adopciones.html" style="display: flex; align-items: center;">
                    <img src="<%= asset_path('adopcion.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                    <span>Adopciones</span>
                </a>
            </li> -->
        
        <li class="nav-item">
            <a class="nav-link" href="/servicios/paseadores.html" style="display: flex; align-items: center;">
                <img src="<%= asset_path('paseador.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                <span>Paseadores</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/servicios/cuidadores.html" style="display: flex; align-items: center;">
                <img src="<%= asset_path('cuidador.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                <span>Cuidadores</span>
            </a>
        </li>


        <% if user_signed_in? %>
                <li class="nav-item">
                        <a class="nav-link" href="/cruza/cruza.html" style="display: flex; align-items: center;">
                            <img src="<%= asset_path('cruza.png') %>" style="max-width: 20px; max-height: 20px; margin-right: 10px;">
                            <span>Cruza de Perros</span>
                        </a>
                    </li>
            <% end %>
            
        
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">  
            
            <div class="sidebar-contact" style="color: white; padding: 10px;">
                <a style="display: flex; align-items: center;">
                    <span>ohmydog@veterinaria.com</span>
                    </a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

               <!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
        </li>

        <!-- Nav Item - User Information -->
        <% if user_signed_in? %>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        <%= current_user.nombre %>
                        <% if current_user.apellido.present? %>
                            <%= current_user.apellido %>
                        <% end %>
                    </span>
                    <img class="img-profile rounded-circle" src="/assets/usuarioGenerico.png">
                </a>

                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <!-- Opciones para usuarios autenticados -->
                    
                    
                    <a class="dropdown-item" href="/users/edit">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Mis Datos
                    </a>

                    <a class="dropdown-item" href="<%= mis_turnos_path %>">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Mis Turnos
                    </a>

                    <a class="dropdown-item" href="/perros/mis_perros.html">
                    <i class="fas fa-dog fa-sm fa-fw mr-2 text-gray-400"></i>
                    Editar a mis Perros
                     </a>

                   <a class="dropdown-item" href="<%= edit_password_user_path %>">
                   <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cambiar Contraseña
                     </a>

                    <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete" data-confirm="¿Estás seguro?">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar Sesión
                    </a>
                </div>
            </li>
        <% else %>
            <!-- Opciones para usuarios no autenticados -->
            <li class="nav-item">
                <a class="nav-link" href="<%= new_user_session_path %>">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        Iniciar Sesión
                    </span>
                    <img class="img-profile rounded-circle" src="/assets/usuarioGenerico.png">
                </a>
            </li>
        <% end %>
    </ul>
    <!-- End of Topbar -->
</nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <%= yield %>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Desarrollado por: SoftDeliver &copy; 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
<style>
  body {
    background-color: #000000; /* Cambia el color de fondo a azul claro */
  }
</style>

</html>
