<h2>Cambiar Contraseña</h2>

<%= form_for(@user, as: resource_name, url: update_password_user_path, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="mb-3">
    <%= f.label :current_password, "Contraseña Actual", class: "form-label" %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Nueva Contraseña (al menos una letra y un número)", class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, "Confirmar Nueva Contraseña", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="text-center">
    <%= f.submit "Actualizar Contraseña", class: "btn btn-primary" %>
  </div>
<% end %>
